@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navigation-container {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 3;
  width: auto;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navigation {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation__hamburger {
  display: flex;
  flex-grow: 2;
}
.navigation__hamburger label {
  display: none;
}
.navigation__logo--desktop img {
  width: 200px;
  padding: 10px;
}
.navigation__logo--mobile {
  display: none;
}
.navigation__items {
  display: flex;
}
.navigation__items li {
  font-weight: 600;
  cursor: pointer;
  list-style: none;
  padding: 10px;
}
.navigation__items li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6509803922);
  transition: color 0.3s ease;
}
.navigation__items li a:hover {
  color: #000;
}
.navigation__search {
  display: flex;
  flex-grow: 1;
  padding: 10px;
  background-color: #edf9f8;
}
.navigation__search input {
  padding: 0px 10px;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}
.navigation__icon {
  display: flex;
  flex-grow: 1;
  justify-content: end;
}
.navigation__icon a i {
  color: #000;
  cursor: pointer;
  margin: 10px;
  font-size: 20px;
}

#menu {
  display: none;
}

.hero {
  position: relative;
}
.hero__banner img {
  width: 100%;
}
.hero__content {
  font-size: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: rgba(255, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
}
.hero__content--title {
  margin: 0px 30px;
}
.hero__content--detail {
  color: #fff;
  font-weight: 500;
  margin: 0px 30px;
}
.hero__content--cta {
  margin: 10px 30px;
}
.hero__content--button {
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 20px;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  transition: all 0.3s ease;
}
.hero__content--button:hover {
  background-color: #fff;
  color: #000;
}

.category__title {
  font-size: 30px;
  text-align: center;
  margin: 30px;
}
.category__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.category__banner {
  cursor: pointer;
}
.category__banner-title h4 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
.category__banner-img {
  width: 300px;
  height: 400px;
  overflow: hidden;
}
.category__banner-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 1/1;
}

.sale-product {
  margin: 0px 100px;
  height: 700px;
}
.sale-product__title {
  font-size: 30px;
  text-align: center;
  margin: 30px;
}
.sale-product__title span {
  color: red;
}
.sale-product__main-container {
  padding: 20px;
  display: flex;
  gap: 20px;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.0470588235);
  border-radius: 20px;
}
.sale-product__container1 {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 50%;
  height: 100%;
  border-radius: 20px;
}
.sale-product__container1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 1/1;
  transition: all 0.5s ease;
}
.sale-product__container1-overlay {
  position: absolute;
  top: 75%;
  left: 65%;
}
.sale-product__container1-overlay p {
  font-size: 25px;
  font-weight: 700;
  color: white;
}
.sale-product__container1-overlay p span {
  color: red;
}
.sale-product__container1-overlay button {
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  border: 3px solid rgba(128, 128, 128, 0.4274509804);
  border-radius: 5px;
  background: transparent;
  transition: all 0.3s ease;
}
.sale-product__container1-overlay button a {
  text-decoration: none;
  color: #000;
}
.sale-product__container1-overlay button:hover {
  background-color: #000000;
}
.sale-product__container1-overlay button:hover a {
  color: #fff;
  cursor: pointer;
}
.sale-product__container1:hover img {
  cursor: pointer;
  transform: scale(1.1);
}
.sale-product__container2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  height: 100%;
}
.sale-product__sub-container1 {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  border-radius: 20px;
}
.sale-product__sub-container1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 1/1;
  transition: all 0.5s ease;
}
.sale-product__sub-container1-overlay {
  position: absolute;
  top: 5%;
  left: 5%;
}
.sale-product__sub-container1-overlay p {
  font-size: 25px;
  font-weight: 700;
  color: white;
}
.sale-product__sub-container1-overlay p span {
  color: red;
}
.sale-product__sub-container1-overlay button {
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  border: 3px solid rgba(128, 128, 128, 0.4274509804);
  border-radius: 5px;
  background: transparent;
  transition: all 0.3s ease;
}
.sale-product__sub-container1-overlay button a {
  text-decoration: none;
  color: #000;
}
.sale-product__sub-container1-overlay button:hover {
  background-color: #000000;
}
.sale-product__sub-container1-overlay button:hover a {
  color: #fff;
  cursor: pointer;
}
.sale-product__sub-container1:hover img {
  cursor: pointer;
  transform: scale(1.1);
}
.sale-product__sub-container2 {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  border-radius: 20px;
}
.sale-product__sub-container2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 1/1;
  transition: all 0.5s ease;
}
.sale-product__sub-container2-overlay {
  position: absolute;
  top: 5%;
  left: 5%;
}
.sale-product__sub-container2-overlay p {
  font-size: 25px;
  font-weight: 700;
  color: white;
}
.sale-product__sub-container2-overlay p span {
  color: red;
}
.sale-product__sub-container2-overlay button {
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  border: 3px solid rgba(255, 255, 255, 0.4274509804);
  border-radius: 5px;
  background: transparent;
  transition: all 0.3s ease;
}
.sale-product__sub-container2-overlay button a {
  text-decoration: none;
  color: #fff;
}
.sale-product__sub-container2-overlay button:hover {
  background-color: #000000;
  color: #fff;
  cursor: pointer;
}
.sale-product__sub-container2:hover img {
  cursor: pointer;
  transform: scale(1.1);
}

.feature-product {
  width: auto;
}
.feature-product__title {
  font-size: 30px;
  text-align: center;
  margin: 30px;
}
.feature-product__card-container {
  margin: 0px 100px;
  overflow-x: scroll;
  display: flex;
  gap: 10px;
  padding: 10px;
}
.feature-product__card-container:hover::-webkit-scrollbar {
  visibility: visible;
}
.feature-product__card-container:hover::-webkit-scrollbar-track {
  visibility: visible;
}
.feature-product__card-container:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
.feature-product__card-container::-webkit-scrollbar {
  visibility: hidden;
  height: 8px;
}
.feature-product__card-container::-webkit-scrollbar-track {
  visibility: hidden;
  background: #f1f1f1;
  border-radius: 10px;
}
.feature-product__card-container::-webkit-scrollbar-thumb {
  visibility: hidden;
  background: #888;
  border-radius: 10px;
}
.feature-product__card {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.322);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  width: 250px;
  padding: 20px;
}
.feature-product__card-img img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
  margin-bottom: 10px;
  width: 100%;
  transition: all 0.5s ease;
}
.feature-product__card-title a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.feature-product__card-price {
  display: flex;
}
.feature-product__card-price-selling {
  font-weight: 700;
  margin-right: 20px;
}
.feature-product__card-price-strikethrough {
  color: rgba(0, 0, 0, 0.3450980392);
  font-weight: 600;
  text-decoration: line-through;
  margin-right: 20px;
}
.feature-product__card-price-off {
  font-weight: 700;
  color: red;
}
.feature-product__card:hover img {
  transform: scale(1.03);
}

.review {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.review__title {
  margin: 40px;
  text-align: center;
}
.review__user-card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: #ffe5ec;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.review__user {
  display: flex;
}
.review__user-img {
  margin-right: 20px;
}
.review__user-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.review__user-rating i {
  color: #ffea00;
}
.review__user-description p {
  color: rgba(0, 0, 0, 0.6235294118);
}

.trust {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0px;
  margin-top: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.2431372549);
}
.trust > div {
  display: flex;
  align-items: center;
}
.trust > div p {
  color: rgba(0, 0, 0, 0.5843137255);
  margin-left: 20px;
}

.footer {
  background-color: #000000;
}
.footer__copyright p {
  padding: 20px;
  text-align: center;
  color: white;
  margin-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.3568627451);
}

.footer-accordion {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
}
.footer-accordion li {
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  list-style: none;
}
.footer-accordion li input[type=checkbox] {
  display: none;
}
.footer-accordion li label {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.footer-accordion li .content p {
  color: rgba(255, 255, 255, 0.6235294118);
  transition: 0.3s;
}
.footer-accordion li .content p:hover {
  cursor: pointer;
  color: #fff;
}

.footer-accordion li:last-child .content {
  display: flex;
  font-size: 18px;
}

.footer-accordion li:last-child p {
  margin: 5px;
}

.listing {
  display: flex;
}

.filter__table {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  padding: 20px;
  background-color: #fff;
  transition: left 0.5s ease;
}
.filter__table--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter__table--title h4 {
  font-size: 25px;
  font-weight: 500;
}
.filter__table--title i {
  display: none;
  cursor: pointer;
  font-size: 20px;
}
.filter__table--item ul {
  background-color: rgba(128, 128, 128, 0.1450980392);
  padding: 10px;
  line-height: 40px;
  border-radius: 8px;
}
.filter__table--item ul li {
  list-style: none;
}
.filter__table--item ul li label {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7803921569);
  cursor: pointer;
}
.filter__table--item ul li input[type=checkbox] {
  accent-color: #102439;
}
.filter__table--item ul li input[type=radio] {
  accent-color: #102439;
}
.filter__table button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.8980392157);
  color: #fff;
  outline: none;
  border: none;
}
.filter__table button:hover {
  background-color: #000;
}

.product-listing__container {
  margin: 10px;
  flex: 1;
}
.product-listing__container-header {
  display: flex;
  justify-content: space-between;
}
.product-listing__container-header-breadcrumb {
  padding: 10px;
}
.product-listing__container-header-breadcrumb ul {
  display: flex;
}
.product-listing__container-header-breadcrumb ul li {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4549019608);
  list-style: none;
  font-size: 15px;
}
.product-listing__container-header-breadcrumb ul li + li::before {
  content: ">";
  margin: 10px;
}
.product-listing__container-header-filter-sort {
  display: flex;
  gap: 10px;
}
.product-listing__container-header-sort-open li {
  border: 1px solid rgba(0, 0, 0, 0.3647058824);
  padding: 10px 15px;
  list-style: none;
}
.product-listing__container-header-sort-open li label {
  font-size: 15px;
}
.product-listing__container-header-sort-open li select {
  background-color: transparent;
  outline: none;
  border: none;
}
.product-listing__container-header-filter-open {
  display: none;
}
.product-listing__container-header-filter-open button {
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.462745098);
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  padding: 10px 15px;
  cursor: pointer;
}

.products__listing {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 20px;
}
.products__listing--title {
  font-size: 30px;
  margin: 30px;
}
.products__listing--card {
  display: flex;
  height: 300px;
  cursor: pointer;
}
.products__listing--card-img {
  width: 40%;
  height: 100%;
}
.products__listing--card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 1/1;
}
.products__listing--card-detail {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 60%;
}
.products__listing--card-title {
  font-size: 16px;
}
.products__listing--card-title h4 a {
  text-decoration: none;
  color: #000;
}
.products__listing--card-rating p {
  font-size: 12px;
}
.products__listing--card-rating p i {
  font-size: 15px;
  color: gold;
}
.products__listing--card--price {
  display: flex;
  gap: 10px;
}
.products__listing--card--price-selling {
  font-weight: 700;
  font-size: 20px;
}
.products__listing--card--price-original {
  font-size: 20px;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4941176471);
  font-weight: 600;
}
.products__listing--card--price-off {
  font-size: 20px;
  color: red;
  font-weight: 700;
}
.products__listing--card-limited-deal p {
  font-size: 12px;
  font-weight: 600;
  background-color: red;
  color: #fff;
  padding: 5px 8px;
  width: 130px;
}
.products__listing--card-emi p {
  color: rgba(0, 0, 0, 0.5254901961);
}
.products__listing--card-original-delivery p {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7019607843);
}
.products__listing--card-original-delivery span {
  color: #000;
  font-weight: 600;
}
.products__listing--card-paid-delivery p {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7019607843);
}
.products__listing--card-paid-delivery span {
  color: #000;
  font-weight: 600;
}
.products__listing--card-button button {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 40px;
  padding: 10px 20px;
  background-color: #f2ff00;
  color: #000;
  font-weight: 600;
}

.breadcrumb {
  display: flex;
  margin: 10px;
}
.breadcrumb ul {
  display: flex;
}
.breadcrumb ul li {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5921568627);
  list-style: none;
}
.breadcrumb ul li + li::before {
  content: ">";
  margin: 10px;
}

.product-detail {
  display: flex;
  width: 100%;
  padding: 20px;
}
.product-detail__display {
  width: 50%;
}
.product-detail__display img {
  width: 100%;
  height: 100%;
}
.product-detail__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
.product-detail__description-title h2 {
  font-size: 20px;
  font-weight: 500;
}
.product-detail__description-rating {
  border-bottom: 1px solid rgba(183, 186, 252, 0.7176470588);
}
.product-detail__description-rating p {
  color: rgba(0, 0, 0, 0.6352941176);
}
.product-detail__description-rating p i {
  color: gold;
}
.product-detail__description-limited-deal p {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  background-color: red;
  color: #fff;
  padding: 5px 10px;
}
.product-detail__description-price {
  display: flex;
  gap: 10px;
  font-size: 25px;
}
.product-detail__description-price .original-price {
  font-style: italic;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.631372549);
}
.product-detail__description-price .selling-price {
  font-weight: 600;
}
.product-detail__description-price .off-price {
  color: red;
  font-weight: 600;
}
.product-detail__description-emi {
  border-bottom: 1px solid rgba(183, 186, 252, 0.7176470588);
}
.product-detail__description-emi p {
  color: rgba(0, 0, 0, 0.6862745098);
  font-size: 18px;
}
.product-detail__description-emi p span {
  font-weight: 600;
  color: #000;
}
.product-detail__description-color {
  display: flex;
  gap: 10px;
}
.product-detail__description-color p {
  font-weight: 600;
}
.product-detail__description-color > div {
  cursor: pointer;
}
.product-detail__description-color .blue {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: blue;
  border: 3px solid #000;
}
.product-detail__description-color .green {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: green;
  border: 3px solid #000;
}
.product-detail__description-color .gray {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: gray;
  border: 3px solid #000;
}
.product-detail__description-qty input[type=number] {
  outline: none;
  border: none;
  background-color: rgba(128, 128, 128, 0.2901960784);
  width: 80px;
  padding: 10px;
}
.product-detail__description-trust-element {
  display: flex;
  padding: 10px;
  border-top: 1px solid rgba(183, 186, 252, 0.7176470588);
  border-bottom: 1px solid rgba(183, 186, 252, 0.7176470588);
}
.product-detail__description-trust-element .element {
  display: flex;
  flex: 1;
  align-items: center;
}
.product-detail__description-trust-element .element p {
  color: #4c4cef;
  font-size: 12px;
  font-weight: 600;
}
.product-detail__description-trust-element .element img {
  width: 42px;
}
.product-detail__description-cta {
  display: flex;
  gap: 20px;
}
.product-detail__description-cta button {
  padding: 15px 25px;
  font-size: 15px;
  outline: none;
  border: none;
  font-weight: 500;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
}
.product-detail__description-cta .add-to-cart {
  background-color: yellow;
  color: rgba(0, 0, 0, 0.7176470588);
  transition: all 0.3s ease;
}
.product-detail__description-cta .add-to-cart:hover {
  background-color: orange;
}
.product-detail__description-cta .buy-now {
  color: rgba(0, 0, 0, 0.7176470588);
  background-color: orange;
  transition: all 0.3s ease;
}
.product-detail__description-cta .buy-now:hover {
  background-color: #ff3700;
}

.detailed-description {
  margin: 20px;
  display: flex;
}
.detailed-description__about-item {
  width: 50%;
}
.detailed-description__about-item--title h4 {
  font-size: 20px;
  font-weight: 600;
}
.detailed-description__about-item--content {
  padding: 25px;
}
.detailed-description__item-review {
  width: 50%;
}
.detailed-description__item-review--title h4 {
  font-size: 20px;
  font-weight: 600;
}
.detailed-description__item-review--cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}
.detailed-description__item-review--card {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-shrink: 0;
}
.detailed-description__item-review--card-name {
  font-size: 15px;
}
.detailed-description__item-review--card-name p {
  font-weight: 600;
}
.detailed-description__item-review--card-name p i {
  padding-right: 5px;
}
.detailed-description__item-review--card-rating p i {
  color: gold;
}
.detailed-description__item-review--card-content p {
  color: rgba(0, 0, 0, 0.5490196078);
}
.detailed-description__item-review--card-like-dislike {
  margin-top: 5px;
}
.detailed-description__item-review--card-like-dislike p {
  display: flex;
  gap: 20px;
}
.detailed-description__item-review--card-like-dislike p i {
  font-size: 18px;
  cursor: pointer;
}

.related-products__title {
  margin: 30px;
  font-size: 30px;
  text-align: center;
}
.related-products__container {
  margin: 10px;
}
.related-products__cards {
  display: flex;
  justify-content: center;
}
.related-products__card {
  cursor: pointer;
  width: 200px;
}
.related-products__card-img {
  padding: 20px;
  width: 100%;
}
.related-products__card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 1/1;
}
.related-products__card-title {
  font-size: 15px;
  font-weight: 500;
}
.related-products__card-price {
  display: flex;
  gap: 10px;
}
.related-products__card-price p {
  font-size: 12px;
  font-weight: 700;
}
.related-products__card-price .original {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5411764706);
}
.related-products__card-price .off {
  color: red;
}

.cart {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 20px;
}
.cart__title {
  margin: 20px;
}
.cart__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.cart__items-title {
  font-weight: 400;
  font-size: 20px;
}
.cart__item {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid black;
}
.cart__item-img {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__item-img img {
  width: 150px;
}
.cart__item-details {
  width: 40%;
}
.cart__item-title {
  font-weight: 500;
}
.cart__item-price {
  font-weight: 700;
}
.cart__item-quantity {
  padding: 5px;
  background-color: rgba(128, 128, 128, 0.2078431373);
  width: 150px;
  display: flex;
  justify-content: center;
}
.cart__item-quantity button {
  outline: none;
  background: transparent;
  cursor: pointer;
  border: none;
  font-weight: 600;
  font-size: 20px;
}
.cart__item-quantity input {
  outline: none;
  border: none;
  background: transparent;
  width: 80px;
  text-align: center;
}
.cart__item-total {
  width: 15%;
}
.cart__item-remove {
  width: 15%;
}
.cart__item-remove button {
  outline: none;
  border: none;
  font-size: 12px;
  padding: 10px;
  background: #000;
  color: #fff;
  cursor: pointer;
}
.cart__summary {
  align-self: flex-end;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart__summary-title {
  font-weight: 400;
  font-size: 20px;
}
.cart__summary-details {
  display: flex;
  flex-direction: column;
}
.cart__summary-details > div {
  display: flex;
  justify-content: space-between;
}
.cart__summary-details > div p {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.568627451);
}
.cart__summary-details > div span {
  font-weight: 700;
}
.cart__summary-button {
  width: 100%;
  cursor: pointer;
  padding: 5px 10px;
  outline: none;
  border: none;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}
.cart__summary .cart-checkout-btn {
  background-color: #be0000;
}
.cart__summary .cart-continue-btn {
  background-color: #000;
}

.checkout {
  margin: 20px;
  display: flex;
  gap: 50px;
}
.checkout__title {
  margin: 30px;
}
.checkout__shipping-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.checkout__shipping-details-information {
  display: flex;
  justify-content: space-between;
}
.checkout__shipping-details-information--address {
  font-size: 15px;
  font-weight: 500;
}
.checkout__shipping-details-information--contact span {
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
}
.checkout__shipping-details-payment {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.checkout__shipping-details-payment--form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.checkout__shipping-details-payment--form label {
  font-weight: 600;
}
.checkout__shipping-details-payment--form label input {
  padding: 10px;
  width: 100%;
}
.checkout__shipping-details-payment--form div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.checkout__shipping-details-payment--form div label input {
  width: 100%;
}
.checkout__shipping-details-payment--cta button {
  padding: 10px 20px;
  outline: none;
  border: none;
  cursor: pointer;
}
.checkout__shipping-details-payment--cta .pay {
  background-color: #ec2020;
  color: #fff;
}
.checkout__shipping-details-payment--cta .edit {
  background-color: #000;
  color: #fff;
}
.checkout__shipping-details-payment--footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.checkout__shipping-details-payment--footer img {
  width: 100px;
}
.checkout__shipping-order-summary {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.checkout__shipping-order-summary--orders {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.checkout__shipping-order-summary--orders-item {
  width: 100%;
  display: flex;
  gap: 20px;
}
.checkout__shipping-order-summary--orders-img {
  width: 10%;
}
.checkout__shipping-order-summary--orders-img img {
  width: 100%;
}
.checkout__shipping-order-summary--orders-title {
  width: 40%;
}
.checkout__shipping-order-summary--orders-quantity {
  width: 25%;
}
.checkout__shipping-order-summary--orders-quantity div {
  width: 90px;
  background-color: rgba(128, 128, 128, 0.2274509804);
  padding: 5px;
}
.checkout__shipping-order-summary--orders-quantity div button {
  outline: none;
  border: none;
  width: 20px;
  background: transparent;
}
.checkout__shipping-order-summary--orders-quantity div input {
  outline: none;
  border: none;
  background: transparent;
  text-align: center;
  width: 30px;
}
.checkout__shipping-order-summary--orders-total {
  width: 25%;
}
.checkout__shipping-order-summary--orders-total p {
  font-weight: 600;
}
.checkout__shipping-order-summary--price {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.checkout__shipping-order-summary--price > div {
  display: flex;
  justify-content: space-between;
}
.checkout__shipping-order-summary--price > div p {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.568627451);
}
.checkout__shipping-order-summary--price > div span {
  font-weight: 700;
}

@media (max-width: 1024px) {
  .navigation__logo--desktop {
    display: none;
  }
  .navigation__logo--mobile {
    display: block;
  }
  .navigation__logo--mobile img {
    padding: 10px;
    width: 150px;
  }
  .navigation__hamburger {
    z-index: 1;
    flex-grow: 0;
  }
  .navigation__hamburger label {
    display: block;
  }
  .navigation__hamburger label i {
    font-size: 25px;
    padding: 10px;
  }
  .navigation__hamburger input:checked ~ ul {
    left: 0%;
  }
  .navigation__items {
    width: 40%;
    height: 100vh;
    background-color: #160331;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: -40%;
    transition: left 0.5s ease;
  }
  .navigation__items li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3843137255);
    font-weight: 300;
  }
  .navigation__items li a {
    color: white;
    padding: 10px 20px;
  }
  .navigation__items li::before {
    content: ">";
    color: #fff;
  }
  .navigation__items li:hover {
    background-color: #fff;
  }
  .navigation__items li:hover a {
    color: black;
  }
  .navigation__search {
    display: none;
  }
  .hero__content {
    font-size: 20px;
  }
  .hero__content--button {
    font-size: 15px;
  }
  .sale-product {
    margin: 50px;
    height: auto;
  }
  .sale-product__main-container {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
  .sale-product__container1 {
    width: 100%;
  }
  .sale-product__container2 {
    width: 100%;
  }
  .footer .footer-accordion {
    display: block;
  }
  .footer .footer-accordion input[type=checkbox]:checked + label + .content {
    max-height: 400px;
  }
  .footer .footer-accordion input[type=checkbox]:checked + label::before {
    content: "-";
  }
  .footer .footer-accordion li label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }
  .footer .footer-accordion li label::before {
    content: "+";
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
  }
  .footer .footer-accordion li .content {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s, padding 0.5s;
  }
  .footer .footer-accordion li .content p {
    margin-left: 30px;
  }
  .footer .footer-accordion li:last-child .content {
    display: flex;
    font-size: 18px;
  }
  .filter {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.105);
    top: 0;
    left: 0;
    z-index: 4;
  }
  .filter__table {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: -30%;
    height: 100vh;
  }
  .filter__table--title i {
    display: block;
  }
  .product-listing__container-header-filter-open {
    display: block;
  }
  .product-detail {
    flex-direction: column;
  }
  .product-detail__display {
    width: 100%;
  }
  .product-detail__description {
    width: 100%;
  }
  .detailed-description {
    flex-direction: column;
  }
  .detailed-description__about-item {
    width: 100%;
  }
  .detailed-description__item-review {
    width: 100%;
  }
  .related-products__cards {
    flex-wrap: wrap;
    flex-shrink: 0;
  }
  .checkout {
    flex-direction: column;
  }
  .checkout__shipping-details {
    width: 100%;
  }
  .checkout__shipping-order-summary {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .hero__content {
    font-size: 10px;
  }
  .hero__content--button {
    font-size: 10px;
  }
  .sale-product__container1-overlay p {
    font-size: 12px;
  }
  .sale-product__container1-overlay button {
    font-size: 10px;
  }
  .sale-product__sub-container1-overlay {
    top: 75%;
    left: 65%;
  }
  .sale-product__sub-container1-overlay p {
    font-size: 12px;
  }
  .sale-product__sub-container1-overlay button {
    font-size: 10px;
  }
  .sale-product__sub-container2-overlay {
    top: 75%;
    left: 65%;
  }
  .sale-product__sub-container2-overlay p {
    font-size: 12px;
  }
  .sale-product__sub-container2-overlay button {
    font-size: 10px;
  }
  .feature-product__card-container {
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
  }
  .feature-product__card {
    width: 100%;
  }
  .trust > div {
    margin: 10px;
  }
  .trust > div img {
    width: 20px;
  }
  .trust > div p {
    font-size: 12px;
    margin-left: 5px;
  }
  .product-listing__container-header {
    flex-direction: column;
  }
  .product-listing__container-header-sort-open {
    border: none;
    outline: none;
  }
  .product-listing__container-header-sort-open li {
    padding: 5px 10px;
    list-style: none;
  }
  .product-listing__container-header-sort-open li label {
    font-size: 10px;
  }
  .product-listing__container-header-filter-open button {
    font-weight: 600;
    font-size: 10px;
    padding: 10px 15px;
  }
  .products__listing {
    gap: 50px;
  }
  .products__listing--title {
    font-size: 20px;
    margin: 20px;
  }
  .products__listing--card {
    display: flex;
    height: 200px;
    gap: 15px;
  }
  .products__listing--card-img {
    width: 40%;
    height: 100%;
  }
  .products__listing--card-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    aspect-ratio: 1/1;
  }
  .products__listing--card-title {
    font-size: 12px;
  }
  .products__listing--card-rating p {
    font-size: 10px;
  }
  .products__listing--card-rating p i {
    font-size: 10px;
  }
  .products__listing--card--price-selling {
    font-size: 12px;
  }
  .products__listing--card--price-original {
    font-size: 12px;
  }
  .products__listing--card--price-off {
    font-size: 12px;
  }
  .products__listing--card-limited-deal p {
    font-size: 10px;
    width: 110px;
  }
  .products__listing--card-emi p {
    font-size: 10px;
  }
  .products__listing--card-original-delivery p {
    font-size: 10px;
  }
  .products__listing--card-paid-delivery p {
    font-size: 10px;
  }
  .products__listing--card-button button {
    font-size: 10px;
  }
  .cart__items {
    padding: 0;
  }
  .cart__items-title {
    font-size: 15px;
  }
  .cart__item {
    padding: 0;
    padding-bottom: 20px;
    gap: 10px;
  }
  .cart__item-img img {
    width: 100px;
  }
  .cart__item-details {
    font-size: 12px;
  }
  .cart__item-quantity {
    width: 80px;
  }
  .cart__item-quantity button {
    font-size: 12px;
  }
  .cart__item-quantity input {
    width: 30px;
  }
  .cart__item-total {
    font-size: 12px;
  }
  .cart__item-remove button {
    outline: none;
    border: none;
    font-size: 8px;
    padding: 5px;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  .cart__summary {
    align-self: flex-start;
  }
  .cart__summary-button {
    font-size: 12px;
  }
  .checkout__shipping-details-information {
    flex-direction: column;
  }
  .checkout__shipping-order-summary--orders-title {
    font-size: 12px;
  }
  .checkout__shipping-order-summary--orders-img {
    width: 25%;
  }
}/*# sourceMappingURL=style.css.map */